body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 12px;
    margin-top: 15px;
}

ul {
    text-align: left;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    opacity: 0.8;
}